.client__header__one,
.client__header__two {
  display: flex;
}
.client__header__sticky {
  position: sticky;
  top: 0;
  background-color: #274772;
}
.client__header__left,
.client__header__right {
  display: flex;
  font-weight: bolder;
  color: white;
  padding: auto;
  margin: auto;
}
.client__header__two {
  margin: 20px;
  display: flex;
}
.client__header__two Button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 50%;
}

.itemBox__display {
  margin-top: 2vh;
}
.itemBox__display__header {
  color: white;
  display: flex;
  margin-left: 1vw;
}
.itemBox__display__header p {
  flex: 1;
  font-weight: bolder;
}
.client__body__header {
  margin-top: 2vh;
  color: #1b1950;
  display: flex;
  margin-left: 1vw;
}
.client__body__header p {
  flex: 1;
  font-weight: bolder;
}

.client__body__footer {
  margin: 10px;
  color: #1b1950;
  font-weight: bolder;
}
.client__body__footer hr {
  border: none;
  background-color: #1b1950;
  height: 2px;
}
.client__body__footer p {
  margin-right: 150px;
  text-align: right;
}
