.itemBox__display__input {
  margin-top: 2vh;
  color: #1b1950;
  display: flex;
  margin-left: 1vw;
}

.itemBox__display__input p {
  flex: 1;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 20px;
}

.MuiSvgIcon-root {
  height: 0.9rem !important;
  width: 0.9rem !important;
}

.itemBox__display:hover {
  box-shadow: 0 0 8px white, 0 0 8px #1b1950;
}
.itemBox__display:hover p {
  max-width: 80px;
}
.itemBox__display:hover Button {
  display: inline;
}

.itemBox__display__input Button {
  display: none;
  padding: 10px;
  margin: 5px 90px 0 0;
  border-radius: 50%;
}
